<% if @erb_code %>
  <%= render inline: @erb_code %>
  
<% else %>
<h4><%= @title %></h4>

<%= simple_form_for @checkout do |f| %>    
  <%= f.input :item_id, :label => t("Item#"), :readonly => true, :input_html => {:value => @item.id} %> 
  <%= f.input :name, :label => t("Item Name"), :readonly => true, :input_html => {:value => @item.name} %>
  <%= f.input :item_spec, :label => t("Spec"), :readonly => true, :input_html => {:value => @item.spec} %>
  <%= f.input :request_date, :label => t("Request Date"), :as => :string %> 
  <%= f.input :requested_qty, :label => t("Requested Qty"), :readonly => readonly?(@checkout, 'requested_qty') %>
  <%= f.input :unit, :label => t("Unit"), :collection => @qty_unit, :include_blank => true %>  
  <%= f.input :requested_by_id, :label => t("Requested By"), :collection => return_users('production', 'item_checkoutx_checkouts'), :label_method => :name, :value_method => :id %> 
  <%= f.input :brief_note, :label => t("Brief Note"), :input_html => {:rows => 3}, :readonly => readonly?(@checkout, 'brief_note') %>
  <%= f.input :last_updated_by_name, :readonly => true, :input_html => {:value => @checkout.last_updated_by.name} if @checkout.last_updated_by_id.present? %> 
  
  <%= link_to t('Back'), SUBURI + "/view_handler?index=0", :class => BUTTONS_CLS['action'] %>
  <%= f.button :submit, t('Save'), :class => BUTTONS_CLS['action'] %>  
  
<% end %>

<% end %>
